/* ------------------------------ *\
INDEX
-
Import Common (reset, reusable, etc.)
Base
Home
About
Products
Downloads
Contact
\* ------------------------------ */

@import "common";


/* ------------------------------ *\
BASE
\* ------------------------------ */
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
body {
	min-width: 960px;
	min-height: 100%;
	font-size: 100%;
	font-family: 'ubuntu_mono', Courier, sans-serif;
	line-height: 1.5em;
	color: $c1;
	background: $c3;
}

.content {
	padding: 2.5em 4em;
	&.first { padding-top: 4em }
	h1, h2, p { max-width: 70% }
}


/* ------------------------------ *\
MENU
\* ------------------------------ */
#menu-link,
#back-link {
	position: fixed;
	top: 0.5em;
	left: 0.5em;
	font-size: 2em;
	color: $c2;
	&:hover { color: black }
}
#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
}
#menu {
	position: fixed;
	top: 0;
	left: -400px;
	z-index: 101;
	width: 400px;
	height: 100%;
	padding: 4em 0 4em 4em;
	background: white;
	opacity: 0;

	li.active {
		border-right: 4px solid black;
		a { color: black }
	}

	.arcs {
		position: absolute;
		top: 123px;
		left: -12px;
		width: 61px;
		height: 121px;
		background: url('../img/arcs.png') no-repeat;
	}

	#close-menu-link {
		position: absolute;
		top: 0.5em;
		left: 0.5em;
		font-size: 2em;
		color: $c2;
		&:hover { color: black }
	}
}


/* ------------------------------ *\
GRAPH
\* ------------------------------ */
.graph-container {
	position: relative;
	overflow: hidden;
	padding: 1em 22em 1em 4em;
	background: white;

	.settings-link {
		display: block;
		position: absolute;
		top: 1em;
		right: 1em;
		width: 1em;
		height: 1em;
	}

	.settings {
		position: absolute;
		top: 0;
		right: 0;
		width: 18em;
		height: 100%;
		padding: 1em 3em 1em 1em;
		background: $c3;

		.setting-title { text-transform: uppercase }

		li.active {
			position: relative;
			left: -1em;
			padding-left: 12px;
			border-left: 4px solid black;
			a { color: black }
		}

		a, label {
			
		}

		.close-settings-link {
			display: block;
			position: absolute;
			top: 1em;
			right: 1em;
			width: 1em;
			height: 1em;
		}
	}

	.annotation {
		display: inline-block;
		padding: 8px 16px;
		border: 1px solid black;
		@include border-radius(8px);
		margin-top: 1em;
		color: black;
		&:hover {
			border-color: $main;
			color: $main;
		}
		&:before {
			margin-right: 0.5em;
			vertical-align: middle;
		}
	}
}
svg,
text {
	font-family: 'ubuntu_mono', Courier, sans-serif;
	font-size: 12px;
}

.axis path { display: none }
.axis line {
    fill: none;
    stroke: $c3;
    stroke-dasharray: 2,2;
    shape-rendering: crispEdges;
}
.axis text { fill: $c3 }

.mark line {
	fill: none;
	stroke: $c2;
    shape-rendering: crispEdges;
}
.mark text { fill: $c2 }

.axes line {
	fill: none;
    shape-rendering: crispEdges;
    stroke: $c3;
}
.axes text { fill: $c2 }

.ruler path {
	fill: none;
    shape-rendering: crispEdges;
    stroke: $c2;
}
.ruler text { fill: black }

.ref line {
	fill: none;
    shape-rendering: crispEdges;
    stroke: black;
}
.ref text { fill: black }

text.cat { cursor: default }

.gmain { fill: $main }
.gc2 { fill: $c2 }
.gwhite { fill: white }
.gblack { fill: black }


/* ------------------------------ *\
COVER
\* ------------------------------ */
#cover {
	min-height: 100%;
	padding: 4em;
	background: $main url('../img/connections.png') no-repeat center;

	#start {
		display: inline-block;
		margin-top: 2em;
		font-size: 2em;
		color: white;
		&:hover { color: black }
	}

	h1, h2, p {
		max-width: 70%;
		color: white;
	}
}


/* ------------------------------ *\
REGION
\* ------------------------------ */
#reg-graph2 {
	.graph {
		position: relative;
		width: 600px;
		height: 496px;
	}
	.choropleth-map {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}
}