/* ------------------------------ *\
CONTENTS
-
Import Common (reset, reusable, etc.)
?
Import Vis (graphs, SVG, etc.)
\* ------------------------------ */

@import "common";


/* ------------------------------ *\
BASE
\* ------------------------------ */
html, body {
	width: 100%;
	height: 100%;
}
body {
	min-width: 960px;
	min-height: 100%;
	font-size: 100%;
	font-family: 'ubuntu_mono', Courier, sans-serif;
	line-height: 1.5em;
	color: $c1;
	background: $c3;
}
.container {
	position: relative;
}
.content {
	padding: 2.5em 40% 2.5em 4em;
	&.first { padding-top: 4em }
}

.link-list {
	margin-top: 2em;
	background: $c4;

	ul {
		padding-top: 1em;
		border-top: 1px solid $c2;
	}
	li {
		padding-bottom: 1em;
		border-bottom: 1px solid $c2;
		margin-bottom: 1em;
		font-size: 0.75em;
	}

	a {
		display: inline-block;
		padding: 0 0.5em;
		@include border-radius(4px);
		background: white;
	}
	a:hover { background: $c3 }
	a:before { margin-right: 0.5em }
}

/* ------------------------------ *\
MENU
\* ------------------------------ */
#menu-link,
#back-link {
	position: fixed;
	top: 0.5em;
	left: 0.5em;
	font-size: 2em;
	color: $c2;
	&:hover { color: black }
}
#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
}
#menu {
	position: fixed;
	top: 0;
	left: -400px;
	z-index: 101;
	width: 400px;
	height: 100%;
	padding: 4em 0 4em 4em;
	background: white;
	opacity: 0;

	li, p {
		padding-right: 4em;
		font-size: 1em;
	}
	p { text-transform: uppercase }
	li.active {
		border-right: 4px solid black;
		a { color: black }
	}
	hr {
		height: 1px;
		background: $c2;
	}

	.arcs {
		position: absolute;
		top: 123px;
		left: -12px;
		width: 61px;
		height: 121px;
		background: url('../img/arcs.png') no-repeat;
	}

	#close-menu-link {
		position: absolute;
		top: 0.5em;
		left: 0.5em;
		font-size: 2em;
		color: $c2;
		&:hover { color: black }
	}
}


/* ------------------------------ *\
NOTES
\* ------------------------------ */
#note {
	display: none;
	position: absolute;
	width: 448px;
	@include box-shadow(rgba(0,0,0,0.3) 0 3px 12px);

	.header {
		padding: 16px;
		border-bottom: 1px solid $c2;
		background: white;
	}
	.header:hover {
		background: $c3;
		cursor: move;
	}
	.header a {
		display: block;
		float: right;
		margin-left: 1em;
	}
	.title {
		float: left;
		color: black;
	}
	.content {
		overflow: auto;
		max-height: 30em;
		padding: 16px;
		background: rgba(255,255,255,0.9);
	}
	p {
		margin-bottom: 0.5em;
		font-size: 0.875em;
	}
	p.headline {
	    text-transform: uppercase;
	    color: black;
	}
	hr { height: 2px }
	img {
		display: block;
		margin-bottom: 0.5em;
	}
}


/* ------------------------------ *\
COVER
\* ------------------------------ */
#cover {
	min-height: 100%;
	background: $main url('../img/connections.png') no-repeat center;

	#start {
		display: inline-block;
		margin-top: 2em;
		font-size: 2em;
		color: white;
		&:hover { color: black }
	}

	h1, p {
		color: white;
	}
}


@import "vis";