.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

/* tell the SVG path to be a thin blue line without any area fill */
path {
	/*stroke: steelblue;
	stroke-width: 1;
	fill: none;*/
}

.line {
	stroke-width: 1;
	fill: none;
}
.circle {
	r: 3;
	stroke-width: 1;
	fill: white;
}

label { display: block; }

body { background: #f0f0f0 }

/* colors */
.linec0 { stroke: #000 }
.linec1 { stroke: #ed6756 }
.linec2 { stroke: #42b3c6 }